<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://solo.io" target="_blank"><img src="{{uiRootPath}}/img/header_logo.png"
          height="40px" alt="Solo.io"></a>
      <a class="navbar-item title" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    {{!-- <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Upcoming Events</a>
      </div>
    </div> --}}
  </nav>
</header>
